.packages-main-wrapper {
    .head-packages {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 39px;

        h2 {
            font-size: 20px;
            font-weight: 500;
        }
    }

}